{ config, pkgs, ... }:

{
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";

  home.stateVersion = "26.05";

  home.packages = [
    pkgs.ast-grep
    pkgs.bat
    pkgs.biome
    pkgs.bun
    pkgs.clang-tools
    pkgs.conan
    pkgs.delta
    pkgs.direnv
    pkgs.fd
    pkgs.fzf
    pkgs.fzf-git-sh
    pkgs.ghq
    pkgs.go
    pkgs.httpie
    pkgs.jless
    pkgs.jq
    pkgs.lazygit
    pkgs.luajitPackages.tree-sitter-cli
    pkgs.neovim
    pkgs.ninja
    pkgs.nodejs
    pkgs.opencode
    pkgs.plocate
    pkgs.python3
    pkgs.ripgrep
    pkgs.rustfmt
    pkgs.scc
    pkgs.sheldon
    pkgs.shellcheck
    pkgs.shfmt
    pkgs.starship
    pkgs.uv
    pkgs.viu
    pkgs.yamlfmt
    pkgs.zellij
    pkgs.zoxide
  ];

  programs.home-manager.enable = true;

  nix.gc = {
    automatic = true;
      dates = "daily";
      options = "--delete-older-than 7d";
  };
}
